<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="labs/mech/1st_year/1 st semester/GE3251-Engineering-Graphics-Lecture-Notes-1.pdf">Engineering-Graphics pdf</a><br>
        <h1>Engineering-Graphics  vidoe></h1><br>
        <h4>experiment 1B </h4>
        <a href="https://youtu.be/FRK88vmYzjU?si=Qsg7vad9RGpTb8ly">TORSIONAL PENDULUM</a>
        <br>
        <h4>experiment 1C </h4>
        <a href="https://youtu.be/41A2XmkGk9Q?si=yzUnj5xMZBt5Vj0M">DETERMINATION OF MOMENT OF INERTIA
OF AN IRREGULAR OBJECT</a><br>
        <h4>experiment 2 </h4>
        <a href="https://youtu.be/PDQyFeiHoRM?si=OgIvZeyUbsJlinbn">SIMPLE HARMONIC OSCILLATIONS
O F CANTILEVER</a><br>
        <h4>experiment 3 </h4>
        <a href="https://youtu.be/UPv09L8trz0?si=iW3mUMuoMbppHxjj">NON UNIFORM BENDING -
DETERMINATION OF YOUNG'S MODULUS</a><br>
        <h4>experiment 4 </h4>
        <a href="https://youtu.be/g9R2yr9xuUE?si=HR_YP7FQyxnND68s">UNIFORM BENDING -
DETERMINATION OF YOUNG'S MODULUS</a><br>
        <h4>experiment 5 </h4>
        <a href="https://youtu.be/dOTgadi7Hd0?si=x-JaVFve9zruav0c">LASER - DETERMINATION OF THE WAVE
LENGTH OF THE LASER USING GRATING</a><br>
        <h4>experiment 6 </h4>
        <a href="https://youtu.be/t5579n7pg2Y?si=Zz9_WXW3kqw4d8Od">AIR WEDGE - DETERMINATION OF
THICKNESS OF A THIN SHEET/WIRE</a><br>
        <h4>experiment 7B </h4>
        <a href="https://youtu.be/pDnMT6Un2gI?si=V0dCwenFqcn_qyFc">COMPACT DISC - DETERMINATION OF WIDTH
O F THE GROOVE USING LASER</a><br>
        <h4>experiment 8 </h4>
        <a href="https://youtu.be/ih6ErM2KiGE?si=nukQMrB8OzgyCDOa">NUMERICAL APERTURE AND
ACCEPTANCE ANGLE IN A OPTICAL FIBER</a><br>
</body>
</html>