<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/labs/mech/1st_year/1 st semester/physics lab manual.pdf">physics Manual</a><br>
        <h1>Physics Laboratory vidoe></h1><br>
        <a href="https://youtu.be/FRK88vmYzjU?si=Qsg7vad9RGpTb8ly">TORSIONAL PENDULUM</a>
        <br>
        <a href="https://youtu.be/41A2XmkGk9Q?si=yzUnj5xMZBt5Vj0M">DETERMINATION OF MOMENT OF INERTIA
OF AN IRREGULAR OBJECT</a><br>
        <a href="https://youtu.be/PDQyFeiHoRM?si=OgIvZeyUbsJlinbn">SIMPLE HARMONIC OSCILLATIONS
O F CANTILEVER</a><br>
        <a href="https://youtu.be/UPv09L8trz0?si=iW3mUMuoMbppHxjj">NON UNIFORM BENDING -
DETERMINATION OF YOUNG'S MODULUS</a><br>
</body>
</html>